*
{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}
/*Header*/
.Header
{
    background-image: url("../Images/Background.png");
    background-size: cover;
}
.Header .Heading
{
    font-size: 900%;
    padding-top: 9%;
    padding-left: 10%;
}
.Header .Subheading
{
    padding-left: 10.5%;
    padding-bottom: 20%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
}
.Header .Subheading img
{
    width: 2%;
}
.Header .Subheading a
{
    font-size: 300%;
    text-decoration: none;
    color: black;
}
/*End of Header*/
/*Intro*/
.Intro
{
    padding-top: 5%;
    padding-bottom: 5%;
}
.Intro .Heading
{
    font-size: 300%;
    margin-left: 10%;
    margin-right: 10%;
}
.Intro .details
{
    font-size: 150%;
    line-height: 150%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border: 1px solid rgb(1, 75, 1);
    padding: 2%;
}
/*End of Intro*/
/*Games*/
.Games
{
    padding-bottom: 5%;
}
.Games .Heading
{
    font-size: 300%;
    margin-left: 10%;
    margin-right: 10%;
}
.Games .Table
{
    margin-top: 2%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(1, 75, 1);
    margin-right: 10%;
    padding: 0%;
}
.Games .Table .left
{
    width: 54%;
}
.Games .Table .left img
{
    width: 100%;
    height: 100%;
}
.Games .Table .right
{
    font-size: 150%;
    line-height: 270%;
    margin-left: 10%;
}
.Games .Table .right a
{
    text-decoration: none;
    color:black;
}
/*End of Games*/
/*List of Contribbutors*/
.Contributors
{
    padding-bottom: 5%;
}
.Contributors .Heading
{
    font-size: 300%;
    margin-left: 10%;
    margin-right: 10%;
}
.Contributors .Contributor
{
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
}
.Contributors .Contributor .cards
{
    background-image: url(https://img.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg?size=664&ext=jpg);
    padding: 2%;
    width: 20%;
    text-align: center;
    margin-left: 1%;
    margin-top: 2%;
    color: white;
}
.Contributors .Contributor .cards img
{
    width: 90%;
    border-radius: 100%;
}
.Contributors .Contributor .cards a
{
    text-decoration: none;
    color: white;
}
/*End of List of Contributors*/
/*Footer*/
.Footer
{
    background-image: url(https://img.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg?size=664&ext=jpg);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 120%;
}
.Footer .col1
{
    text-align: center;
}
.Footer .col1 .button
{
    border:1px solid white;
    margin-top: 5%;
    background-color: white;
    padding: 1%;
}
.Footer .col1 .button:hover
{
    border:1px solid green;
    margin-top: 5%;
    background-color: green;
    padding: 1%;
}
.Footer .col1 .button a
{
    text-decoration: none;
    color: green;
}
.Footer .col1 .button a:hover
{
    text-decoration: none;
    color: white;
}
.Footer .col2
{
    text-align: center;
    margin-left: 30%;
}
.Footer .col2 .button
{
    border:1px solid white;
    margin-top: 5%;
    background-color: white;
    padding: 1%;
}
.Footer .col2 .button:hover
{
    border:1px solid green;
    margin-top: 5%;
    background-color: green;
    padding: 1%;
}
.Footer .col2 .button a
{
    color: green;
    text-decoration: none;
}
.Footer .col2 .button a:hover
{
    color: white;
    text-decoration: none;
}
/*End of Footer*/

@media(max-width:768px)
{
    .Header .Heading
    {
        font-size: 700%;
    }
    .Header .Subheading
    {
        font-size: 50%;
    }
    .Header .Subheading img
    {
        width: 2%;
    }
    .Header .Subheading a
    {
        margin-left: 2%;
    }
    .Games .Table .left 
    {
        width: 100%;
    }
    .Contributors .Contributor .cards
    {
        font-size: 50%;
    }
    .Footer
    {
        display: flex;
        font-size: 200%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .Footer .col1 
    {
        width: 40%;
        padding-bottom: 40%;
        margin: 0%;
        font-size: 70%;
        margin-left: 5%;
    }
    .Footer .col2
    {
        width: 40%;
        margin: 0%;
        font-size: 70%;
        padding-bottom: 40%;
        margin-left: 5%;
    }
    .Footer .col1 .button
    {
        width: 70%;
        margin-left: 13%;
    }
    .Footer .col2 .button
    {
        width: 70%;
        margin-left: 13%;
    }
}