*
{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}
/*Header*/
.Header
{
    background-image: url("../Images/Background.png");
    background-size: cover;
}
.Header .Heading
{
    font-size: 900%;
    padding-top: 9%;
    padding-left: 10%;
}
.Header .Subheading
{
    padding-left: 10.5%;
    padding-bottom: 20%;
    margin-top: 1%;
    display: flex;
}
.Header .Subheading img
{
    width: 2%;
}
.Header .Subheading a
{
    font-size: 300%;
    text-decoration: none;
    color: black;
}
/*End of Header*/
/*Intro*/
.Intro
{
    padding-top: 5%;
    padding-bottom: 5%;
}
.Intro .Heading
{
    font-size: 300%;
    padding-left: 10%;
}
.Intro .details
{
    font-size: 150%;
    line-height: 150%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border: 1px solid rgb(1, 75, 1);
    padding: 2%;
}
/*End of Intro*/
.Games
{
    padding-bottom: 5%;
}
.Games .Heading
{
    font-size: 300%;
    padding-left: 10%;
}
.Games .Table
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 150%;
    line-height: 300%;
    border: 1px solid rgb(1, 75, 1);
    padding: 2%;
    display: flex;
}
.Games .Table .left a
{
    text-decoration: none;
    color: black;
}
.Games .Table .left
{
    text-align: justify;
}
.Games .Table .right
{
    width: 50%;
    margin-left: 10%;
    text-align: right;
    height: fit-content;
}
.Games .Table .right img
{
    width: 120%;
    height: 50%;
}