*
{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}
/*Header*/
.Header
{
    background-image: url("../Images/Background.png");
    background-size: cover;
}
.Header .Heading
{
    font-size: 900%;
    padding-top: 9%;
    padding-left: 10%;
}
.Header .Subheading
{
    padding-left: 10.5%;
    padding-bottom: 2%;
    display: flex;
}
.Header .Subheading img
{
    width: 2%;
}
.Header .Subheading a
{
    font-size: 250%;
    text-decoration: none;
    color: black;
}
.Header .Badges
{
    padding-left: 10%;
    padding-bottom: 15.5%;
}
.Header .Badges img
{
    width: 10%;
}
/*End of Header*/
/*Intro*/
.Intro
{
    padding-top: 5%;
    padding-bottom: 5%;
}
.Intro .Heading
{
    font-size: 300%;
    padding-left: 10%;
}
.Intro .details
{
    font-size: 150%;
    line-height: 150%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border: 1px solid rgb(1, 75, 1);
    padding: 2%;
    box-shadow: green;
}
/*End of Intro*/